@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <div class="dl-horizontal">
        @*//Customer Greeting*@
        <p>
            Congratulations, @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)!
        </p>


        @*//Retirement plan*@
           <p>You will retire in <span>@ViewBag.RetirementAge</span> years.</p>
  
        @*//How much moneys?*@
        <p>You will have $<span>@ViewBag.BankMoney</span> in the bank.</p>

        @*//Transport*@
        <p>You will get around by <span>@ViewBag.Transport</span>.</p>

        @*//Homecation*@
        <p>
           You will live in <span>@ViewBag.Location</span>.
        </p>




    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
